.woocommerce-cart-form {
	.shop_table {
		@extend .table;
		margin-bottom: var(--spacing-bottom);
		width: 100%;

		td {
			vertical-align: middle;

			&.product-quantity {
				.quantity {
					input {
						width: 80px;
					}
				}
			}

			&.product-thumbnail {
				max-width: 80px;

				img {
					height: auto;
					max-width: 100%;
				}
			}
		}

		.button {
			@extend .btn, .btn-primary;
			float: right;
		}

		.coupon {
			float: left;

			label {
				display: none;
			}

			.input-text {
				display: inline-block;
				width: 58%;
			}

			.button {
				@extend .btn, .btn-secondary;
			}
		}
	}
}

.cart-collaterals {
	@extend .row;
	margin-bottom: var(--spacing-bottom);

	.cart_totals {
		@extend .col-sm-6, .offset-sm-6;

		.shop_table {
			@extend .table;

			td {
				text-align: right;
			}
		}

		.checkout-button {
			float: right;
		}
	}
}
