.woocommerce-cart-form {

	.shop_table {
		@extend .table;
		margin-bottom: $spacing-bottom;
		width: 100%;

		td {
			&.product-quantity {
				.quantity {
					input {
						@extend .form-control;
						width: 80px;
					}
				}
			}

			&.product-thumbnail {
				min-width: 150px;
				img {
					@extend .img-fluid;
				}
			}


		}

		.button {
			@extend .float-right, .btn-primary;
		}

		.coupon {
			@extend .float-left;

			label {
				display: none;
			}

			.input-text {
				@extend .form-control;
				display: inline-block;
				width: 59%;
			}

			.button {
				@extend .btn-secondary;
			}
		}
	}
}

.cart-collaterals {
	@extend .row;
	margin-bottom: $spacing-bottom;

	.cart_totals {
		@extend .col-sm-6, .offset-sm-6;

		.shop_table {
			@extend .table;

			td {
				text-align: right;
			}
		}

		.checkout-button {
			@extend .float-right;
		}
	}
}