// .comment-form {
// .comment-form-comment {
// 	@extend .form-group;

// 	textarea {
// 		@extend .form-control;
// 	}
// }

// .comment-form-cookies-consent {
// 	@extend .form-check;
// }
// }

.form-row {
	// @extend .form-group;
	padding: 5px;
}

.woocommerce-address-fields,
.edit-account {
	// .form-row {
	// 	@extend .form-group;

	// 	input,
	// 	textarea {
	// 		@extend .form-control;
	// 	}
	// }

	.form-row-first,
	.form-row-last {
		float: left;
		width: 50%;
	}

	.form-row-first {
		padding-right: 15px;
	}

	.form-row-last {
		padding-left: 15px;
	}

	.button {
		@extend .btn, .btn-primary;
	}
}

.woocommerce-form-login,
.woocommerce-form-register {
	margin-bottom: var(--spacing-bottom);

	.form-row {
		// @extend .form-group;

		// input.input-text {
		// 	@extend .form-control;
		// }

		.button {
			@extend .btn, .btn-primary;
		}
	}
}

.woocommerce-billing-fields__field-wrapper,
.woocommerce-shipping-fields__field-wrapper {
	display: flex;
	flex-wrap: wrap;

	.form-row-first,
	.form-row-last {
		flex-basis: 50%;
	}

	.form-row-first {
		padding-right: var(--single-gutter);
	}

	.form-row-last {
		padding-left: var(--single-gutter);
	}

	.form-row-wide {
		flex-basis: 100%;
	}
}

.woocommerce-input-wrapper {
	display: block;
	width: 100%;
}
