.woocommerce {
	div.product {
		div.images {
			@extend .col-sm-6;

			.woocommerce-product-gallery__wrapper {
				margin-bottom: 0;

				.woocommerce-product-gallery__image,
				.woocommerce-product-gallery__image--placeholder {
					margin-bottom: $single-gutter;

					&:nth-child(n + 2) {
						display: inline-block;
						margin-bottom: 0;
						width: 25%;
					}

					figure {
						margin-bottom: 0;
					}

					img {
						height: auto;
						max-width: 100%;
					}
				}
			}
		}
	}
}
