.woocommerce-info {
	@extend .alert-info, .alert;
	margin-bottom: $single-gutter;

	.button {
		@extend .btn, .btn-info;
		float: right;
	}
}

.woocommerce-error {
	@extend .alert-danger, .alert;
	list-style-type: none;
	margin-bottom: $single-gutter;

	.button {
		@extend .btn, .btn-danger, .btn-sm;
		float: right;
	}
}

.woocommerce-message {
	@extend .alert-success, .alert;
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 15px;
	margin-bottom: $single-gutter;

	.button {
		@extend .btn, .btn-sm;
	}

	span {
		flex: 1;
	}

	&.woocommerce-info {
		.button {
			@extend .btn, .btn-info;
			float: right;
		}
	}
}
