.woocommerce-MyAccount-navigation {
	ul {
		@extend .nav-tabs, .nav;
		margin-bottom: $single-gutter;

		li {
			@extend .nav-item;

			a {
				@extend .nav-link;
			}

			&.is-active {
				a {
					@extend .active;
				}
			}
		}
	}
}

ul.tabs.wc-tabs {
	@extend .nav-tabs, .nav;
	margin-bottom: $single-gutter;

	li {
		@extend .nav-item;

		a {
			@extend .nav-link;
			color: var(--primary-color);
		}

		&.active {
			a {
				@extend .active;
			}
		}

		@include media-breakpoint-down(md) {
			width: 100%;

			.active {
				background-color: var(--primary-color);
				color: white;
				border: 0;
				border-radius: 4px;
			}
		}
	}
}

.woocommerce-Tabs-panel.panel {
	margin-bottom: $spacing-bottom;
}
