.woocommerce-pagination {
	margin-bottom: $spacing-bottom;

	.page-numbers {
		@extend .pagination;

		li {
			@extend .page-item;

			// .current {
			// 	@extend .page-link, .active;
			// }

			* {
				@extend .page-link;
			}
		}
	}
}