@import "_buttons";
@import "_cart";
@import "_checkout";
@import "_comments";
@import "_forms";
@import "_image-gallery";
@import "_nav-tabs";
@import "_message";
@import "_pagination";
@import "_product";
@import "_product-lists";
@import "_ratings";

.content-area {
	@extend .container;
}

.contain {
	position: relative;
}

// Archive Pages
.woocommerce-result-count,
.woocommerce-ordering {
	@extend .col-sm-6;
}

.woocommerce-ordering {
	text-align: right;
}

// Woocommerce Global Styles
.summary.entry-summary {
	@extend .col-sm-6;
}

.comment-reply-title {
	@extend h4;
}

// My Account
.woocommerce-Addresses {
	@extend .row;

	.col-1,
	.col-2 {
		@extend .col-6;
	}
}

.attachment-woocommerce_thumbnail {
	@extend .img-fluid;
}

.woocommerce-breadcrumb {
	margin-bottom: 30px;
}

.onsale {
	position: absolute;
	top: 10px;
	background-color: red;
	color: white;
	padding: 5px 10px;
}