{
  "extends": "stylelint-config-wordpress/scss",
  "plugins": ["stylelint-order"],
  "rules": {
    "order/properties-alphabetical-order": true,
    selector-class-pattern: null,
    "max-line-length": 120,
    "rule-empty-line-before": null,
    "at-rule-empty-line-before": null
  },
  "ignoreFiles": [
    "assets/build/**/*.css",
		"node_modules/**/*.css",
		"assets/sass/font-awesome/**/*.scss",
  ]
}
