// Main Theme Variable Overrides
@import './base/_variables'; 

// Bootstrap (Select only what you need to keep final css file minimal)
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/print";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
// @import "../../node_modules/bootstrap/scss/dropdown";
// @import "../../node_modules/bootstrap/scss/button-group";
// @import "../../node_modules/bootstrap/scss/input-group";
// @import "../../node_modules/bootstrap/scss/custom-forms";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/pagination";
// @import "../../node_modules/bootstrap/scss/badge";
// @import "../../node_modules/bootstrap/scss/jumbotron";
@import "../../node_modules/bootstrap/scss/alert";
// @import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/media";
@import "../../node_modules/bootstrap/scss/list-group";
// @import "../../node_modules/bootstrap/scss/close";
// @import "../../node_modules/bootstrap/scss/modal";
// @import "../../node_modules/bootstrap/scss/tooltip";
// @import "../../node_modules/bootstrap/scss/popover";
// @import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/utilities";

// Extras
@import "../../node_modules/owl.carousel/dist/assets/owl.carousel.min"; // Owl Carousel

// Font Awesome
@import "./font-awesome/scss/variables";
@import "./font-awesome/scss/mixins";
@import "./font-awesome/scss/core";
@import "./font-awesome/scss/larger";
@import "./font-awesome/scss/fixed-width";
@import "./font-awesome/scss/list";
@import "./font-awesome/scss/bordered-pulled";
@import "./font-awesome/scss/animated";
@import "./font-awesome/scss/rotated-flipped";
@import "./font-awesome/scss/stacked";
@import "./font-awesome/scss/icons";
@import "./font-awesome/scss/screen-reader";
@import "./font-awesome/scss/fa-brands";
@import "./font-awesome/scss/fa-light";
@import "./font-awesome/scss/fa-regular";
@import "./font-awesome/scss/fa-solid";

// Plugin Styles
@import './woocommerce/woocommerce';

// Base Styles
@import './base/base';
@import './base/buttons';
@import './base/forms';
@import './base/wordpress-defaults';
@import './base/utils';

// Component Styles
@import './components/header';
@import './components/menu';
@import './components/breadcrumbs';
@import './components/sidebar';
@import './components/post-item';
@import './components/footer';

// Flex components
@import './flex/product-category-list';
@import './flex/featured-products';
@import './flex/content-block';
@import './flex/card';
@import './flex/alternating-rows';
@import './flex/full-width-image';
@import './flex/latest-posts';
@import './flex/slider';
@import './flex/logos';