// Main Theme Variable Overrides
@import "./base/_variables";

// Configuration
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
// Layout & components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/card";
// @import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/close";
// @import "~bootstrap/scss/toasts";
// @import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";
// @import "~bootstrap/scss/offcanvas";
// Helpers
@import "~bootstrap/scss/helpers";
// Utilities
@import "~bootstrap/scss/utilities/api";

// Extras
@import "~swiper/swiper.scss";

// Font Awesome 5 Pro
@import "./font-awesome/scss/fontawesome";
@import "./font-awesome/scss/animated";
@import "./font-awesome/scss/light";
@import "./font-awesome/scss/regular";
@import "./font-awesome/scss/solid";
@import "./font-awesome/scss/brands";
@import "./font-awesome/scss/bordered-pulled";
@import "./font-awesome/scss/core";
@import "./font-awesome/scss/fixed-width";
@import "./font-awesome/scss/larger";
@import "./font-awesome/scss/list";
@import "./font-awesome/scss/icons";
@import "./font-awesome/scss/rotated-flipped";
@import "./font-awesome/scss/screen-reader";
@import "./font-awesome/scss/shims";
@import "./font-awesome/scss/stacked";
@import "./font-awesome/scss/duotone";
@import "./font-awesome/scss/v4-shims";

// Plugin Styles
// @import "./woocommerce/woocommerce";

// Base Styles
@import "./base/base";
@import "./base/buttons";
@import "./base/forms";
@import "./base/wordpress-defaults";
@import "./base/utils";

// Component Styles
@import "./components/header";
@import "./components/menu";
@import "./components/breadcrumbs";
@import "./components/page-header";
@import "./components/sidebar";
@import "./components/post-item";
@import "./components/footer";

// Flex components
@import "./flex/product-category-list";
@import "./flex/featured-products";
@import "./flex/content-block";
@import "./flex/card";
@import "./flex/alternating-rows";
@import "./flex/full-width-image";
@import "./flex/latest-posts";
@import "./flex/slider";
@import "./flex/logos";
