nav {
	transition: background-color 0.5s ease-in-out;

	&.sticky {
		background-color: $white;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 999;
	}

	.menu-item {

		@extend .nav-item;

		a {

			@extend .nav-link;
		}
	}
}
