/* Fonts */
$font-body: Arial !default;
$font-heading: Arial !default;

/* Colour Variables */
$white: #FFF !default;
$light-gray: #eceeef !default;
$dark-gray: #353535 !default;

/* Spacing */
$single-gutter: 15px !default;
$double-gutter: $single-gutter * 2 !default;

$spacing-bottom: 60px !default;
$spacing-bottom-half: $spacing-bottom / 2 !default;

// Carousel
$carousel-height: 400px !default;
