/* Colour Variables */
$white: #FFF;
$dark-gray: #353535;
$light-gray: #eceeef;

/* Spacing */
$single-gutter: 15px;
$double-gutter: $single-gutter * 2;

$spacing-bottom: 60px;
$spacing-bottom-half: $spacing-bottom / 2;