/* Fonts */
$font-body: Arial;
$font-heading: Arial;

/* Colour Variables */
$white: #FFF;
$light-gray: #eceeef;
$dark-gray: #353535;

/* Spacing */
$single-gutter: 15px;
$double-gutter: $single-gutter * 2;

$spacing-bottom: 60px;
$spacing-bottom-half: $spacing-bottom / 2;