.flex-content-block {
  margin-bottom: $spacing-bottom;

  .content {
    p:last-child {
      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }
    }
  }
}

.flex-carousel + .flex-content-block {
  margin-top: -$spacing-bottom;
}