.flex-testimonial {
  position: relative;
  background-size: cover;
  background-position: center;
  padding: $spacing-bottom * 3 0;
  color: $white;
  line-height: normal;

  @include media-breakpoint-down(md) {
    padding: 80px 0;
  }
  

  &.nopadding {
    padding: 0;

    @include media-breakpoint-down(md) {
      padding: 0;
    }

    .carousel {
      padding: $spacing-bottom * 2 0;
    }
  }


  &.quotes {
    &:before {
      content: "";
      background-image: url('../../img/qm-top.png');
      width: 56px;
      height: 37px;
      position: absolute;
      top: -18px;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: 2;
    }

    &:after {
      content: "";
      background-image: url('../../img/qm-bottom.png');
      width: 56px;
      height: 37px;
      position: absolute;
      bottom: -18px;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: 2;
    }
  }


  .testimonial-text {
    text-transform: uppercase;
    font-size: 48px;
    line-height: 68px;
    font-weight: 500;
    text-decoration: underline;
    margin-bottom: $spacing-bottom-half;

    @include media-breakpoint-down(md) {
      font-size: 38px;
    }
  }


  .testimonial-person {
    text-transform: uppercase;
    font-size: 23px;
    font-style: italic;

    @include media-breakpoint-down(md) {
      font-size: 18px;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }

  &.small {
    .testimonial-text {
      font-size: 21px;
      font-weight: lighter;
      text-decoration: none;
      text-transform: none;
      line-height: normal;
    }

    .testimonial-person {
      font-size: 21px;
      font-weight: normal;
      text-transform: none;
    }
  }

  .carousel-indicators {
    bottom: 60px;
    margin: 0;

    li {
      background-color: $white;

      &.active {
        background-color: $yellow;
      }
    }
  }
}