.flex-four-colour-panels {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;

  .panel {
    flex-basis: 50%;
    // background-color: $blue;

    &:nth-child(2) {
      // background-color: $blue-3;
    }

    &:nth-child(3) {
      // background-color: $blue-2;
    }

    &:nth-child(4) {
      // background-color: $blue-1;
    }

    @include media-breakpoint-down(md) {
      flex-basis: 100%;
    }

    .panel-content {
      width: 100%;
      padding: $spacing-bottom 100px;

      @include media-breakpoint-down(sm) {
        padding: 20px 15px;
      }
      
      .dropdown {
        display: none;
        margin-top: -6px;
        margin-left: 10px;

        @include media-breakpoint-down(sm) {
          display: inline-block;
        }
      }

      @each $width, $size in $container-max-widths {
        @if $width != 'sm' {
          @include media-breakpoint-up($width) {
            width: $size / 2;
          }
        }
      }

      @include media-breakpoint-down(sm) {
        .panel-text {
          display: none;
        }
      }

      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &:nth-child(odd) {
      .panel-content {
        float: right;
      }
    }
  }
}