.flex-map-locator {
  padding: $spacing-bottom 0;

  @include media-breakpoint-down(sm) {
    padding: 20px 0;
  }

  .acf-map {
    height: 500px;
    margin-top: $spacing-bottom-half;
  }

  img {
    @include media-breakpoint-down(sm) {
      margin-bottom: $spacing-bottom-half;
    }
  }

  .spacer-panel {
    padding: $spacing-bottom;

    @include media-breakpoint-down(sm) {
      padding: 0 15px $spacing-bottom;
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}