.flex-panels {
  padding: $spacing-bottom 0;

  .nav-tabs {
    margin: $spacing-bottom-half 0 $spacing-bottom;
    border-bottom: 0;

    .nav-item {
      border: 4px solid $purple;
      border-right: 0;

      &:last-child {
        border-right: 4px solid $purple;
      }

      a {
        color: $purple;
        padding: 5px 15px;
        border: 0;
        border-radius: 0;

        &:hover,
        &.active {
          color: $white;
          background-color: $blue;
        }
      }
    }
  }

  .tab-content {
    margin-bottom: $spacing-bottom;

    img[src$="svg"] {
      max-width: 110px;
      min-width: 105px;
      max-height: 75px;
      min-height: 70px;
      margin-bottom: $spacing-bottom-half;
    }
  }

  .img-panel {
    margin-bottom: $single-gutter;
  }
}
