.flex-people {
  padding: $spacing-bottom 0 $spacing-bottom * 2;

  @include media-breakpoint-down(md) {
    padding: $spacing-bottom-half 0 $spacing-bottom;
  }

  .person {
    padding: 0 20px 100px;
    height: 100%;

    a {
      padding-bottom: 0;
      display: inline-block;
      margin-bottom: $spacing-bottom-half;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .person-wrap {
    margin-bottom: $spacing-bottom-half;

    @include media-breakpoint-down(md) {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }

    @include media-breakpoint-down(sm) {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    &:last-child {
      @include media-breakpoint-down(md) {
        margin-bottom: 0;
      }
    }
  }

  .bottom {
    position: absolute;
    bottom: 30px;
    left: 50px;
    right: 50px;

    @include media-breakpoint-down(md) {
      left: 20px;
      right: 20px;
    }
  }

  .position {
    display: block;
  }

  .description {
    margin-bottom: $spacing-bottom-half;

    p:last-child {
      margin-bottom: 0;
    }
  }

  .featured-image {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: $spacing-bottom;
  }

  a.social-icon {
    display: inline-block;
    margin-left: 20px;
    border-bottom: 0;
  }
}