.flex-carousel {
  margin-bottom: $spacing-bottom;
  position: relative;

  .carousel-text {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 22px;
    color: $white;

    h2 {
      font-size: 42px;
    }

    .container,
    .row {
      height: 100%;
    }
  }

  .has-mobile {
    .mobile-img {
      @include media-breakpoint-up(md) {
        display: none !important;
      }
    }

    .desktop-img {
      @include media-breakpoint-down(sm) {
        display: none !important;
      }
    }
  }

  .owl-carousel .owl-stage-outer {
    overflow: hidden;
  }

  .owl-dots {
    position: absolute;
    bottom: $single-gutter;
    left: 0;
    right: 0;
    text-align: center;

    .owl-dot {
      background-color: rgba(255, 255, 255, .5);
      width: 8px;
      height: 8px;
      display: inline-block;
      border-radius: 8px;
      margin: 0 3px;
      transition: background-color .25s ease-in-out;
      outline: 0;

      &.active {
        background-color: rgba(255, 255, 255, 1);
      }
    }
  }

  .owl-nav {
    @include media-breakpoint-down(sm) {
      display: none;
    }

    .owl-prev,
    .owl-next {
      position: absolute;
      outline: 0;
      font-size: 60px !important;
      top: 0;
      bottom: 0;
      z-index: 5;

      span {
        color: rgba(255, 255, 255, .5);

        &:hover {
          color: rgba(255, 255, 255, 1);
        }
      }
    }

    .owl-prev {
      left: $single-gutter;
    }

    .owl-next {
      right: $single-gutter;
    }
  }

  .carousel-buttons {
    a {
      margin-right: 6px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .text-right {
    .carousel-buttons {
      a:last-child {
        margin-right: 0;
      }
    }
  }

  &.showcase {
    padding: $spacing-bottom * 2 0;
    overflow-x: hidden;
    
    .owl-stage-outer {
      overflow: visible !important;
    }

    .has-desktop {
      transition: all .25s ease-in-out;
    }

    .owl-item {
      position: relative;

      &.active {
        .has-desktop {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
        }

        &.center {
          z-index: 999;

          .has-desktop {
            left: -$spacing-bottom;
            right: -$spacing-bottom;
            top: -$spacing-bottom / 3;
            z-index: 999;
          }
        }
      }
    }
  }
}

header + .flex-carousel,
header + .flex-carousel {
  margin-top: -$spacing-bottom;
}

.bg-img + .flex-carousel,
.bg-color + .flex-carousel {
  margin-top: -$spacing-bottom;
}