.flex-carousel {
	margin-bottom: $spacing-bottom;
	position: relative;

	.slider {
		overflow: hidden;
	}

	.carousel-text {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;

		.container,
		.row {
			height: 100%;
		}
	}

	.no-bg {
		.carousel-text {
			position: static;
		}
	}

	.has-mobile {
		.mobile-img {
			@include media-breakpoint-up(md) {
				display: none !important;
			}
		}

		.desktop-img {
			@include media-breakpoint-down(sm) {
				display: none !important;
			}
		}
	}

	.carousel-buttons {
		a {
			margin-right: 6px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.text-right {
		.carousel-buttons {
			a:last-child {
				margin-right: 0;
			}
		}
	}

	&.showcase {
		overflow-x: hidden;
		padding: $spacing-bottom * 2 0;

		.has-desktop {
			transition: all 0.25s ease-in-out;
		}

		.swiper-slide {
			position: relative;

			.has-desktop {
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
			}

			&.center {
				z-index: 999;

				.has-desktop {
					left: -$spacing-bottom;
					right: -$spacing-bottom;
					top: -$spacing-bottom / 3;
					z-index: 999;
				}
			}
		}
	}
}

header + .flex-carousel {
	margin-top: -$spacing-bottom;
}

.bg-img + .flex-carousel,
.bg-color + .flex-carousel {
	margin-top: -$spacing-bottom;
}
