.flex-carousel {
	margin-bottom: $spacing-bottom;

	.carousel-inner,
	.carousel-item {
		min-height: $carousel-height;
	}

	.carousel-item {
		background-size: cover;
		background-position: center;
	}

	.btn {
		&:last-child {
			margin-left: $single-gutter;
		}
	}
}